<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
          <span class="logo-sci">sci</span><span class="logo-tech">tech</span>
        </a>
        <nav class="site-nav">
          <div class="trigger">
            <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
            <a class="page-link" href="{{ '/purpose' | relative_url }}">Purpose</a>
            <a class="page-link" href="{{ '/articles' | relative_url }}">Articles</a>
            <a class="page-link" href="{{ '/contact' | relative_url }}">Contact Us</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
